# Build artifacts
*.dSYM/
main

# Editor configurations
.vscode/
*.code-workspace

# Temporary files
*.plist

# Test inputs
inputs/*.csv

# # Ignore all CSV files in 'tests'
# tests/*.csv

# Ignore everything in 'tests' folder by default
tests/*

# Explicitly include specific files
!tests/test_solution_selector.c
!tests/test_matching_engine.c
!tests/test_output_writer.c
!tests/test_input_parser.c